<main class="bg-usach-aqua-1000 min-h-screen">
    <header class="bg-usach-industrial-100 p-3 flex">
        <img src="/Usach S1.png" alt="Logo Usach" class="h-40 pb-5">
        <h1 class="mx-80 my-10 text-6xl" >Laboratorio de fon&eacute;tica</h1>
    </header>
    <div class="grid2x1 gap-10 p-10 h-3/4">
        <div class="backbox inline-grid text-5xl px-32 py-20 gap-16">
            <button class="yellowbox">
                Iniciar Sesi&oacute;n
            </button>
            <button class="yellowbox">
                Registrarse
            </button>
            <button class="yellowbox">
                Invitado
            </button>
        </div>

        <div class="backbox leaderboard_grid">
            <h2 class="text-center text-5xl pt-10">
                LeaderBoard
            </h2>
            <div class="grid3x1 gap-6 text-3xl p-10 text-center">
                <div class="yellowbox">
                    P&iacute;ndaro
                </div>
                <div class="yellowbox">
                    Rima
                </div>
                <div class="yellowbox">
                    Cat. Acentual
                </div>

            </div>
        </div>
    </div>
</main>

<style>
    .grid2x1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        }
    .leaderboard_grid {        
        display: grid;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 1fr;
    }
    .grid3x1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        }
    .yellowbox {
        /* bg-usach-daisy-900 rounded-3xl*/
        --tw-bg-opacity: 1;
        background-color: rgb(236 178 26 / var(--tw-bg-opacity));
        border-radius: 0.5rem
    }
    .backbox {
        /* bg-usach-daisy-900 rounded-3xl*/
        --tw-bg-opacity: 1;
        background-color: rgb(229 243 243 / var(--tw-bg-opacity));
        border-radius: 0.5rem
    }
</style>