---
import BotonJuego from "../components/BotonJuego";
import Carta from "../components/Carta";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lab.Fonetica">
  <div class="m-10 flex flex-row gap-10">
    <div
        class="flex flex-col max-h-96 overflow-y-auto text-5xl px-16 py-10 text-white text-center bg-usach-cloudy-1000 rounded-lg [&>button]:"
      >
        <BotonJuego label="Píndaro" href="/pindaro" />
        <BotonJuego label="Cat. Acentual" href="/register" />
        <BotonJuego label="Rimas" href="/home" />
        <BotonJuego label="Otro 1" href="/home" />
        <BotonJuego label="Otro 2" href="/home" />
        <BotonJuego label="Otro 2" href="/home" />
        <BotonJuego label="Otro 2" href="/home" />
    </div>
    <h1 class="m-auto px-20 text-5xl text-white">
      ¿Qué quieres jugar?
    </h1>
    
  </div>
</Layout>