---
import Boton from "../components/Boton";
import Carta from "../components/Carta";
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input";
---
<Layout title="Recursos Virtuales para el Lenguaje">
    <section class="grid xl:grid-cols-3 gap-10 p-10 w-[90%]">
      <div
        class="flex flex-col text-5xl px-10 py-10 text-white text-center font-usach-helvetica-body bg-usach-aqua-700 rounded-lg [&>button]:"
      >
        <h1 class="text-3xl mb-5 font-usach-bebas-title">
          Bienvenido
        </h1>
        <Input Label="Usuario" forLabel="user" type="text" placeholder="Usuario"/>
        <Input Label="Contraseña" forLabel="pass" type="text" placeholder="Contraseña"/>
        <Boton label="Iniciar Sesión" href="/home"/>
        <div class="flex flex-row justify-center align-top">
          <h1 class="text-sm text-center mr-1">¿No tienes cuenta?</h1>
          <button class="text-sm font-usach-helvetica-bold">
            <a href="/register">Regístrate</a>
          </button>
        </div>
        <h1 class=" text-sm mt-7">¿No quieres registrarte?</h1>
        <button class="rounded-lg bg-usach-ultra-800 text-lg text-white my-2 drop-shadow p-2">
          <a class="font-usach-helvetica-medium" href="/home">Invitado</a>
        </button>
      </div>
      <div
        class="md:col-span-2 text-white bg-usach-aqua-700 rounded-lg min-h-[20rem]"
      >
        <h2 class="text-center text-3xl font-usach-bebas-title pt-10">Tabla de líderes</h2>
        <div
          class="grid md:grid-cols-3 gap-6 text-3xl p-10 text-center h-[80%]"
        >
          <Carta title="Píndaro" />
          <Carta title="Rima" />
          <Carta title="Cat. Acentual" />
        </div>
      </div>
    </section>
</Layout>