---
import Boton from "../components/Boton";
import Carta from "../components/Carta";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Lab. Fonetica">
    <section class="grid xl:grid-cols-3 gap-10 p-10">
      <div
        class="flex flex-col text-5xl px-16 py-10 text-white text-center bg-usach-industrial-100 bg-gradient-to-t from-usach-ultra-1000 to-usach-rouge-1000 rounded-lg [&>button]:"
      >
        <h1 class="text-xl mb-5">
          Bienvenido
        </h1>
        <Boton label="Iniciar sesión" href="/login" />
        <Boton label="Registrarse" href="/register" />
        <h1 class="text-xs mt-5">¿No quieres registrarte?</h1>
        <Boton label="Invitado" href="/home" />
      </div>
      <div
        class="md:col-span-2 text-white bg-usach-industrial-100 bg-gradient-to-t from-usach-ultra-1000 to-usach-rouge-1000 rounded-lg min-h-[20rem]"
      >
        <h2 class="text-center text-xl pt-10">Tabla de líderes</h2>
        <div
          class="grid md:grid-cols-3 gap-6 text-3xl p-10 text-center h-[80%]"
        >
          <Carta title="Píndaro" />
          <Carta title="Rima" />
          <Carta title="Cat. Acentual" />
        </div>
      </div>
    </section>
</Layout>