---
import Boton from "../components/Boton";
import Carta from "../components/Carta";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Lab. Fonetica">
    <section class="grid xl:grid-cols-3 gap-10 p-10">
      <div
        class="flex flex-col text-5xl px-16 py-20 gap-16 bg-usach-industrial-100 rounded-md [&>button]:"
      >
        <Boton label="Iniciar sesión" href="/login" />
        <Boton label="Registrarse" href="/register" />
        <Boton label="Invitado" href="/home" />
      </div>
      <div
        class="md:col-span-2 bg-usach-industrial-100 rounded-md min-h-[20rem]"
      >
        <h2 class="text-center text-5xl pt-10">Leaderboard</h2>
        <div
          class="grid md:grid-cols-3 gap-6 text-3xl p-10 text-center h-[80%]"
        >
          <Carta title="Píndaro" />
          <Carta title="Rima" />
          <Carta title="Cat. Acentual" />
        </div>
      </div>
    </section>
</Layout>