---
import Input from "../components/Input";
import Layout from "../layouts/Layout.astro";
import Boton from "../components/Boton";
---

<Layout title="Lab. Fonetica">
  <form class="flex flex-col text-5xl text-white p-10 bg-usach-aqua-700 rounded-md w-1/3 justify-center">
    <h1 class="text-center font-usach-bebas-title text-3xl pb-10">
      Registro
    </h1>

    <Input Label="Usuario" forLabel="user" type="text" placeholder="Usuario"/>
    
    <Input Label="Correo" forLabel="email" type="text" placeholder="Correo"/>
    
    <Input Label="Contrase単a" forLabel="password" type="password" placeholder="Contrase単a"/>
    
    <Input Label="Confirme Contrase単a" forLabel="confirm_password" type="password" placeholder="Repetir contrase単a"/>
    
    <Boton label="Registrarse" href="/"/>
  </form>
</Layout>
